<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Open Exchange">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/docs.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block head_ext %}{%  endblock %}
</head>
<body>
<!--[if lt IE 7]>
     <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- This code is taken and modified from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="ibrand" href="{% url 'home' %}">Open Exchange</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% block menu_home %}{% endblock %}><a href="{% url 'home' %}">Home</a></li>
                    <li {% block menu_market %}{% endblock %}><a href="{% url 'market' %}">Market</a></li>
                    <li {% block menu_help %}{% endblock %}><a href="{% url 'help' %}">Help & Support</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <div id="account_menu" class="nav-collapse collapse pull-right -logged-in hidden">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 100px">
                            My Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="max-height: 500px; overflow-x: hidden; overflow-y: auto;">
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-search pull-right -logged-out hidden">
                <input type="text" class="search-query" style="width: 250px" placeholder="Log in with your Bitcoin Address">
            </div>
        </div>
    </div>
</div>

<div id="transfer_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Transfer - <span></span></h3>
  </div>
  <div class="modal-body">
      <div class="label" style="font-size: 16px; line-height: 26px; display: block">
          Your balance: <span class="balance"></span>
      </div>
      <form class="form-horizontal" style="margin-top: 20px">
        <div class="control-group">
          <label class="control-label" for="transfer_to">Transfer To</label>
          <div class="controls">
            <input type="text" id="transfer_to" placeholder="A Bitcoin address">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="transfer_amount">Amount</label>
          <div class="controls">
            <input type="text" id="transfer_amount" placeholder="How many to transfer">
          </div>
        </div>
      </form>
      <p class="label label-info info_buysell message">
          Send <em>ANY</em> amount of BTC to <span style="font-weight: 600" class="transfer-address"></span>,
          and send <span class="transfer-pay" style="font-weight: 600"></span> BTC to
          <span style="font-weight: 600" class="transfer-to-address"></span> for transferring.
          After your order is confirmed and processed, your Bitcoin which previously sent to
          <span style="font-weight: 600" class="transfer-address"></span> will be send back to you.
      </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{% block page_content %}{% endblock %}

<footer class="footer" style="text-align: center; padding-top: 50px; margin-top: 0">
    <p>&copy; Open Exchange 2012</p>
    <p>Both OpenExchange(Server) and OpenExchange(Website) are developed
       and maintained by OpenExchange(Corporate Body). Please check the
       definitions and statements on the OpenExchange(Website) page to
       get the detailed information about our term of service and responsibility claims.</p>
</footer>


<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function check_transfer_dialog(max_transfer){
        //TODO(optional): check if this is a bitcoin address
        var transfer_to_address = $.trim($("#transfer_to").val());
        var e_amount = $("#transfer_amount");
        var amount = Number(e_amount.val());

        if (isNaN(amount) || amount<0)
            amount = 0;
        if (amount>max_transfer)
            amount = max_transfer;
        amount = Math.floor(amount);
        if (Number(e_amount.val())!=amount)
            e_amount.val(amount);

        var e_modal = $("#transfer_modal");
        var e_msg = e_modal.find(".modal-body .message");
        var pay = amount*0.00000001;
        if (amount>0 && transfer_to_address.length>0){
            e_msg.find(".transfer-pay").text(pay.toFixed(8));
            e_msg.find(".transfer-to-address").text(transfer_to_address);
            e_msg.removeClass('hidden');
        }
        else{
            e_msg.addClass('hidden');
        }

        if (e_modal.hasClass("in")){ // the modal is shown
            setTimeout(function(){check_transfer_dialog(max_transfer);}, 300);
        }
    }

    function transfer_dialog(max_transfer, asset_name, transfer_address){
        var e_transfer_modal = $("#transfer_modal");
        e_transfer_modal.find(".modal-header h3 span").html(asset_name);
        e_transfer_modal.find(".modal-body .balance").html(String(max_transfer));
        e_transfer_modal.find(".modal-body transfer-address").html(transfer_address);

        e_transfer_modal.on('show', function(){
            check_transfer_dialog(max_transfer);
        });
        e_transfer_modal.modal('show');
    }

    function update_ui_account(data){
        if (data){
            var e_drop_down = $("#account_menu .dropdown-menu").empty();
            var address = data.address;
            var assets = data.assets;

            $('<li style="padding-left: 20px"> '+address+'<br></li>').appendTo(e_drop_down);
            $('<li class="divider"></li>').appendTo(e_drop_down);

            $.each(assets, function(index, value){
                $('<li><a href="/asset/'+value['asset_name']+'">'+value['asset_name']+'</a></li>').appendTo(e_drop_down);
                $('<li style="padding-left: 40px" class="muted"> Total '+value['total']+'<br> Available '+value['available']+'<br></li>').appendTo(e_drop_down);
                if (value['available']>0){
                    var e = $('<li style="padding-left: 20px"><a href="javascript:void(0)">Transfer</a></li>').appendTo(e_drop_down);
                    e.click(function(){
                        transfer_dialog(Math.max(value['available'],99999999), value['asset_name'],value['asset_transfer_address']);
                    });
                }
                else
                    $('<li style="padding-left: 40px" class="muted">Transfer</li>').appendTo(e_drop_down);
                $('<li style="padding-left: 20px"><a href="/account/'+value['asset_name']+'/'+address+'">Operation History</a></li>').appendTo(e_drop_down);
                $('<li class="divider"></li>').appendTo(e_drop_down);
            });
            $('<li><a href="javascript:void(0)" onclick="auth(\'logout\')">Logout</a></li>').appendTo(e_drop_down);
        }
    }

    function auth(type, address){
        if (!type)
            type = 'login';
        var url="/user/auth?type="+type;
        if (address)
            url += "&address="+address;

        $.getJSON(url,function(data){
            update_ui_account(data);

            if (data != null){// login successfully
                $(".-logged-in").removeClass("hidden");
                $(".-logged-out").addClass("hidden");
                $(window.login_hooks).each(function(i,f){f();});
            }
            else{//logged out or not logged in
                $(".-logged-in").addClass("hidden");
                $(".-logged-out").removeClass("hidden");
                $(window.logout_hooks).each(function(i,f){f();});
            }
        });
    }

    function base_init(){ //some initialization, call this in document.ready of every page
        window.login_hooks = [];
        window.logout_hooks = [];
        window.auto_exec_hooks = [];

        $(".search-query").blur(function(e){
            $(this).animate({width: '250'},500);
        }).focus(function(e){
            $(this).animate({width:'400'},500);
        }).keypress(function(e){
            if(e.which == 13) {
                auth('login', $(this).val());
            }
        });

        setInterval(function(){
            $(window.auto_exec_hooks).each(function(idx, f){f();});
        }, 20000);
    }
</script>

{% block extra_js %}
<script type="text/javascript">
    $(function(){
        base_init();
        auth('login');
    });
</script>
{% endblock %}

</body>
</html>
