{% extends "base.html" %}

{% block title %}OpenSecurityExchange - Help & Support{% endblock %}

{% block menu_help %} class="active" {% endblock %}

{% block page_content %}
    <div style="padding-top: 50px">
        <div class="container">
            <h2>Help & Support</h2>
            <div class="container">
                <h3>Definitions</h3>
                <div>
                    <p>Bitcoin: A virtual internet commodity not recognized as any legal tender.</p>

                    <p>Virtual Security: A virtual commodity traded with Bitcoin inside OpenSecurityExchange(Server).</p>

                    <p>OpenSecurityExchange(Server): An internet service that scans the blockchain and respond to user
                        commands encoded as transactions.</p>

                    <p>OpenSecurityExchange(Website): A website that displays the information of all OpenSecurityExchange(Server)
                        related blockchain transactions.</p>

                    <p>OpenSecurityExchange(Corporate Body): An internet group providing OpenSecurityExchange(Server)
                        and OpenSecurityExchange(Website).</p>
                </div>
            </div>
            <div class="container">
                <h3>Statements</h3>
                <div>
                    <p>OpenSecurityExchange(Server) recognizes specific blockchain transactions as user commands that issue,
                        trade and manage virtual securities. This is its sole functionality and responisibility.</p>

                    <p>Any virtual security should not be regarded as real security representing real ownerships
                        or creditor rights. It is the virtual security owners' liability to keep their promise on
                        their own securities.</p>

                    <p>OpenSecurityExchange(Website) is an auxiliary tool to visualize the actions of OpenSecurityExchange(Server).
                        It may have dysfunction, inaccuracy and delay with respect to displaying. And it is not
                        responsible for any consequent loss. It is the actual records in the blockchain
                        that should be used for tracking what OpenSecurityExchange(Server) has performed and solving
                        disputes between users.</p>

                    <p>OpenSecurityExchange(Corporate Body) does not involve in any form of legal tender related business.
                        While it may set requirements for virtual security issuers, it has no responsibility
                        for security issuers' failure of fulfilling their promises, nor it has to solve conflicts,
                        issues, or ambiguities in execution of asset issuers' agreements with other users.</p>

                    <p>OpenSecurityExchange(Server) charges no fee except the listing fee. Trading and payment are fee-free.
                    </p>
                </div>
            </div>
            <div class="container">
                <h3>User Guides</h3>
                <div>
                    <p>You do not need to log in to use OpenSecurityExchange. But you will need a Bitcoin client or
                        an online Bitcoin wallet. The Bitcoin address serves as your identity. Issuing, trading,
                        or managing virtual securities are all done via sending certain amount
                        of Bitcoins to a certain set of addresses allocated for each virtual security.</p>
                    <h4>Account</h4>
                    <p>Each account binds to a Bitcoin address. It is the identity that holds all virtual
                        security shares. To switch to the view to an account, please input the corresponding
                        Bitcoin address at the upperright of the OpenSecurityExchange(Website) main page and press Enter.
                        It will show the account's trading history,
                        received dividend payments, and all pending orders.
                    </p>
                    <h4>Asset</h4>
                    <p>Each virtual security has its own asset page. Inside the page, you could see the price curve
                        against time. You could select the length of time window (upper-left of the picture) to zoom
                        in or out the curve. You could also input the starting and ending date of the timing window
                        (upper-right of the picture). Below the price curve picture,
                        the open orders (bids and asks) are displayed. The recent trades are displayed at the bottom.
                    </p>
                    <h4>Bid</h4>
                    <p>Each virtual security will be bound with a Bitcoin address for bidding (bid-address).
                        To make a bid order of X shares each prices at Y Bitcoins, please send X*Y + X*0.00000001
                        Bitcoins to the bid-address. X should not exceed 9999. And Y should be a multiple of 0.0001.
                        For example, 10.00000100 represents 100 shares each prices at 0.1 Bitcoin when bidding.
                        The source address sending the Bitcoins are called buyer-address.</p>
                    <p>The bid order will be kept until fulfilled by sellers or cancelled by the buyer.
                        When partly or full execution of the trade happens, the share number of the corresponding
                        virtual security will increase by the amount of
                        the happening trade. The share number is bound to the buyer-address.</p>
                    <p>After being sent by X*Y + X*0.00000001 Bitcoins, the X*0.00000001 Bitcoins part will be
                        immediately sent back. When the order is being kept, the X*Y Bitcoins part is held by
                        OpenSecurityExchange(Server). When execution of order happens, the Bitcoins will be transferred
                        to the seller according to the number of traded shares. On cancellation, the rest
                        Bitcoins according to the number of remaining shares on the bid order.</p>
                    <h4>Ask</h4>
                    <p>Each virtual security will be bound with a Bitcoin address for asking (ask-address).
                        To make an ask order of X shares each prices at Y Bitcoins, please send Y + X*0.00000001
                        Bitcoins to the ask-address. X should not exceed 9999. And Y should be a multiple of 0.0001.
                        For example, 0.10000100 represents 100 shares each prices at 0.1 Bitcoin when asking.
                        The source address sending the Bitcoins are called seller-address.</p>
                    <p>The ask order will be kept until fufilled by buyers or cancelled by the asker.
                        When partly or full execution of the trade happens, the share number of the corresponding
                        virtual security will decrease by the amount of the happening trade. The share number is bound
                        to the seller-address.
                    </p>
                    <p>After being sent by Y + X*0.00000001 Bitcoins, the total of Y + X*0.00000001 Bitcoins will all
                        be immediately sent back. When the ask order of X shares is kept, the available shares for
                        placing other ask orders or transferring orders are reduced by X. When execution of order
                        happens, the shares will be transferred to the buyer according to the number of traded shares.
                        On cancellation, the updated number of available shares will be resumed as the sum of the
                        number of remaining
                        shares on the ask order and the number of former available shares.
                    </p>
                    <h4>Transfer</h4>
                    <p>Each virtual security will be bound with a Bitcoin address for transferring (trans-address).
                        To make a transfer of X shares, please send any number (Y) of Bitcoins to the trans-address
                        and X*0.00000001 Bitcoins to the address you want to send to (receiver-address).
                        X should not exceed 9999.
                        The source address sending the Bitcoins are called sender-address. </p>
                    <p>After being sent by Y Bitcoins, the total of Y Bitcoins will all be immediately sent back.
                        The corresponding share number of the sender-address will be reduced by X,
                        and the corresponding share number of the receiver-address will be increased by X.</p>
                </div>
            </div>
            <div class="container">
                <h3>Notes</h3>
                <h4>Wrong format</h4>
                <p>When the Bitcoins sent to the OpenSecurityExchange address allocated for receiving commands
                    (bid, ask, transfer) do not have an amount matching the format requirement,
                    the command will not be recognized and all the Bitcoins will be immediately sent back.</p>
                <h4>Delay</h4>
                <p>All commands are only considered valid if the corresponding transactions already have 6 or
                    more confirmations. It means that the recognizing and execution of each command will take about
                    an hour considering the average time per confirmation is 10 minutes.</p>
                <h4>Offline Resuming</h4>
                <p>If the server is down for a certain period, it will scan the blockchain as soon as it restarts,
                    and then execute all commands from the block of transactions it has last processed.</p>
                <h4>Transaction Fee</h4>
                <p>All commands are recognized from the amount of Bitcoins received by the address,
                    not the total Bitcoins sent. So if you want the commands executed timely using transaction fee,
                    you should add the fee yourself to the total amount.</p>
            </div>
            <div class="container">
                <h3>Q & A</h3>
                <div>
                    <h4>Q: How do the virtual security shareholders vote?</h4>
                    <p>A: This functionality is not fully implemented yet, since the design space is large and we haven't chosen on specific option.</p>

                    <h4>Q: How does the issuer pay virtual dividends/coupons nominated in Bitcoins?</h4>
                    <p>A: We will let the asset issuer be aware of a specific Bitcoin address for payments (pay-address). When the issuer send X*Y Bitcoins, in which X is the number of the total shares and Y is the amount of dividend/coupon per share, the shareholders will receive their Bitcoins according to the number of shares they have.</p>

                    <h4>Q: What is the delay of the price curve, as well as the open ask and bid orders, displayed by OpenSecurityExchange(Website)?</h4>
                    <p>A: They are updated to the recent confirmed transactions (1 confirmation).</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
